.columns {
  margin: 0 -15px;
}
@media only screen and (min-width: 768px) {
  .columns {
    display: flex;
    margin: 0 -15px;
  }
}
.columns:first-child:not(.columns_no-gutter):not(.columns_no-gutter-y) {
  margin-top: -15px;
}
@media only screen and (min-width: 768px) {
  .columns:first-child:not(.columns_no-gutter):not(.columns_no-gutter-y) {
    margin-top: -15px;
  }
}
.columns:last-child:not(.columns_no-gutter):not(.columns_no-gutter-y) {
  margin-bottom: -15px;
}
@media only screen and (min-width: 768px) {
  .columns:last-child:not(.columns_no-gutter):not(.columns_no-gutter-y) {
    margin-bottom: -15px;
  }
}
.columns_gutter-sm {
  margin: 0 -7.5px;
}
@media only screen and (min-width: 768px) {
  .columns_gutter-sm {
    margin: 0 -7.5px;
  }
}
.columns_gutter-sm:first-child:not(.columns_no-gutter):not(.columns_no-gutter-y) {
  margin-top: -7.5px;
}
@media only screen and (min-width: 768px) {
  .columns_gutter-sm:first-child:not(.columns_no-gutter):not(.columns_no-gutter-y) {
    margin-top: -7.5px;
  }
}
.columns_gutter-sm:last-child:not(.columns_no-gutter):not(.columns_no-gutter-y) {
  margin-bottom: -7.5px;
}
@media only screen and (min-width: 768px) {
  .columns_gutter-sm:last-child:not(.columns_no-gutter):not(.columns_no-gutter-y) {
    margin-bottom: -7.5px;
  }
}
.columns_gutter-sm > .col {
  padding: 7.5px;
}
@media only screen and (min-width: 768px) {
  .columns_gutter-sm > .col {
    padding: 7.5px;
  }
}
.columns_no-gutter {
  margin: 0;
}
.columns_no-gutter > .col {
  padding: 0;
}
.columns_no-gutter-x {
  margin-left: 0;
  margin-right: 0;
}
.columns_no-gutter-x > .col {
  padding-left: 0;
  padding-right: 0;
}
.columns_no-gutter-y {
  margin-bottom: 0;
  margin-top: 0;
}
.columns_no-gutter-y > .col {
  padding-bottom: 0;
  padding-top: 0;
}
.columns_mobile {
  display: flex;
}
@media only screen and (min-width: 500px) {
  .columns_mobile-xl {
    display: flex;
  }
}
.columns_multiline {
  flex-wrap: wrap;
}
.columns_centered {
  justify-content: center;
}
.columns_align-items-center {
  align-items: center;
}
.columns_align-items-end {
  align-items: flex-end;
}
.columns_show-grid {
  background: repeating-linear-gradient(to right, transparent, transparent 15px, rgba(0, 0, 0, 0.1) 15px, rgba(0, 0, 0, 0.1) calc(8.3333333333% - 15px), transparent calc(8.3333333333% - 15px), transparent 8.3333333333%);
}
@media only screen and (min-width: 768px) {
  .columns_show-grid {
    background: repeating-linear-gradient(to right, transparent, transparent 15px, rgba(0, 0, 0, 0.1) 15px, rgba(0, 0, 0, 0.1) calc(8.3333333333% - 15px), transparent calc(8.3333333333% - 15px), transparent 8.3333333333%);
  }
}
.columns_show-grid.columns_gutter-sm {
  background: repeating-linear-gradient(to right, transparent, transparent 7.5px, rgba(0, 0, 0, 0.1) 7.5px, rgba(0, 0, 0, 0.1) calc(8.3333333333% - 7.5px), transparent calc(8.3333333333% - 7.5px), transparent 8.3333333333%);
}
@media only screen and (min-width: 768px) {
  .columns_show-grid.columns_gutter-sm {
    background: repeating-linear-gradient(to right, transparent, transparent 7.5px, rgba(0, 0, 0, 0.1) 7.5px, rgba(0, 0, 0, 0.1) calc(8.3333333333% - 7.5px), transparent calc(8.3333333333% - 7.5px), transparent 8.3333333333%);
  }
}
.columns_show-grid.columns_no-gutter {
  background: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.1) calc(8.3333333333% - 1px), transparent calc(8.3333333333% - 1px), transparent 8.3333333333%);
}

.col {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 15px;
}
@media only screen and (min-width: 768px) {
  .col {
    padding: 15px;
  }
  .col_1 {
    flex: none;
    width: 8.3333333333%;
  }
  .col_2 {
    flex: none;
    width: 16.6666666667%;
  }
  .col_3 {
    flex: none;
    width: 25%;
  }
  .col_4 {
    flex: none;
    width: 33.3333333333%;
  }
  .col_5 {
    flex: none;
    width: 41.6666666667%;
  }
  .col_6 {
    flex: none;
    width: 50%;
  }
  .col_7 {
    flex: none;
    width: 58.3333333333%;
  }
  .col_8 {
    flex: none;
    width: 66.6666666667%;
  }
  .col_9 {
    flex: none;
    width: 75%;
  }
  .col_10 {
    flex: none;
    width: 83.3333333333%;
  }
  .col_11 {
    flex: none;
    width: 91.6666666667%;
  }
  .col_12 {
    flex: none;
    width: 100%;
  }
  .col_offset-0 {
    margin-left: 0%;
  }
  .col_offset-1 {
    margin-left: 8.3333333333%;
  }
  .col_offset-2 {
    margin-left: 16.6666666667%;
  }
  .col_offset-3 {
    margin-left: 25%;
  }
  .col_offset-4 {
    margin-left: 33.3333333333%;
  }
  .col_offset-5 {
    margin-left: 41.6666666667%;
  }
  .col_offset-6 {
    margin-left: 50%;
  }
  .col_offset-7 {
    margin-left: 58.3333333333%;
  }
  .col_offset-8 {
    margin-left: 66.6666666667%;
  }
  .col_offset-9 {
    margin-left: 75%;
  }
  .col_offset-10 {
    margin-left: 83.3333333333%;
  }
  .col_offset-11 {
    margin-left: 91.6666666667%;
  }
}
.col_narrow {
  flex: none;
}
.columns_mobile > .col_1 {
  flex: none;
  width: 8.3333333333%;
}
.columns_mobile > .col_2 {
  flex: none;
  width: 16.6666666667%;
}
.columns_mobile > .col_3 {
  flex: none;
  width: 25%;
}
.columns_mobile > .col_4 {
  flex: none;
  width: 33.3333333333%;
}
.columns_mobile > .col_5 {
  flex: none;
  width: 41.6666666667%;
}
.columns_mobile > .col_6 {
  flex: none;
  width: 50%;
}
.columns_mobile > .col_7 {
  flex: none;
  width: 58.3333333333%;
}
.columns_mobile > .col_8 {
  flex: none;
  width: 66.6666666667%;
}
.columns_mobile > .col_9 {
  flex: none;
  width: 75%;
}
.columns_mobile > .col_10 {
  flex: none;
  width: 83.3333333333%;
}
.columns_mobile > .col_11 {
  flex: none;
  width: 91.6666666667%;
}
.columns_mobile > .col_12 {
  flex: none;
  width: 100%;
}
.columns_mobile > .col_offset-0 {
  margin-left: 0%;
}
.columns_mobile > .col_offset-1 {
  margin-left: 8.3333333333%;
}
.columns_mobile > .col_offset-2 {
  margin-left: 16.6666666667%;
}
.columns_mobile > .col_offset-3 {
  margin-left: 25%;
}
.columns_mobile > .col_offset-4 {
  margin-left: 33.3333333333%;
}
.columns_mobile > .col_offset-5 {
  margin-left: 41.6666666667%;
}
.columns_mobile > .col_offset-6 {
  margin-left: 50%;
}
.columns_mobile > .col_offset-7 {
  margin-left: 58.3333333333%;
}
.columns_mobile > .col_offset-8 {
  margin-left: 66.6666666667%;
}
.columns_mobile > .col_offset-9 {
  margin-left: 75%;
}
.columns_mobile > .col_offset-10 {
  margin-left: 83.3333333333%;
}
.columns_mobile > .col_offset-11 {
  margin-left: 91.6666666667%;
}
@media only screen and (min-width: 500px) {
  .columns_mobile-xl > .col_1, .columns_mobile > .col_1-mobile {
    flex: none;
    width: 8.3333333333%;
  }
  .columns_mobile-xl > .col_2, .columns_mobile > .col_2-mobile {
    flex: none;
    width: 16.6666666667%;
  }
  .columns_mobile-xl > .col_3, .columns_mobile > .col_3-mobile {
    flex: none;
    width: 25%;
  }
  .columns_mobile-xl > .col_4, .columns_mobile > .col_4-mobile {
    flex: none;
    width: 33.3333333333%;
  }
  .columns_mobile-xl > .col_5, .columns_mobile > .col_5-mobile {
    flex: none;
    width: 41.6666666667%;
  }
  .columns_mobile-xl > .col_6, .columns_mobile > .col_6-mobile {
    flex: none;
    width: 50%;
  }
  .columns_mobile-xl > .col_7, .columns_mobile > .col_7-mobile {
    flex: none;
    width: 58.3333333333%;
  }
  .columns_mobile-xl > .col_8, .columns_mobile > .col_8-mobile {
    flex: none;
    width: 66.6666666667%;
  }
  .columns_mobile-xl > .col_9, .columns_mobile > .col_9-mobile {
    flex: none;
    width: 75%;
  }
  .columns_mobile-xl > .col_10, .columns_mobile > .col_10-mobile {
    flex: none;
    width: 83.3333333333%;
  }
  .columns_mobile-xl > .col_11, .columns_mobile > .col_11-mobile {
    flex: none;
    width: 91.6666666667%;
  }
  .columns_mobile-xl > .col_12, .columns_mobile > .col_12-mobile {
    flex: none;
    width: 100%;
  }
  .columns_mobile-xl > .col_offset-0, .columns_mobile > .col_offset-0-mobile {
    margin-left: 0%;
  }
  .columns_mobile-xl > .col_offset-1, .columns_mobile > .col_offset-1-mobile {
    margin-left: 8.3333333333%;
  }
  .columns_mobile-xl > .col_offset-2, .columns_mobile > .col_offset-2-mobile {
    margin-left: 16.6666666667%;
  }
  .columns_mobile-xl > .col_offset-3, .columns_mobile > .col_offset-3-mobile {
    margin-left: 25%;
  }
  .columns_mobile-xl > .col_offset-4, .columns_mobile > .col_offset-4-mobile {
    margin-left: 33.3333333333%;
  }
  .columns_mobile-xl > .col_offset-5, .columns_mobile > .col_offset-5-mobile {
    margin-left: 41.6666666667%;
  }
  .columns_mobile-xl > .col_offset-6, .columns_mobile > .col_offset-6-mobile {
    margin-left: 50%;
  }
  .columns_mobile-xl > .col_offset-7, .columns_mobile > .col_offset-7-mobile {
    margin-left: 58.3333333333%;
  }
  .columns_mobile-xl > .col_offset-8, .columns_mobile > .col_offset-8-mobile {
    margin-left: 66.6666666667%;
  }
  .columns_mobile-xl > .col_offset-9, .columns_mobile > .col_offset-9-mobile {
    margin-left: 75%;
  }
  .columns_mobile-xl > .col_offset-10, .columns_mobile > .col_offset-10-mobile {
    margin-left: 83.3333333333%;
  }
  .columns_mobile-xl > .col_offset-11, .columns_mobile > .col_offset-11-mobile {
    margin-left: 91.6666666667%;
  }
}
@media only screen and (min-width: 768px) {
  .columns > .col_1-tablet {
    flex: none;
    width: 8.3333333333%;
  }
  .columns > .col_2-tablet {
    flex: none;
    width: 16.6666666667%;
  }
  .columns > .col_3-tablet {
    flex: none;
    width: 25%;
  }
  .columns > .col_4-tablet {
    flex: none;
    width: 33.3333333333%;
  }
  .columns > .col_5-tablet {
    flex: none;
    width: 41.6666666667%;
  }
  .columns > .col_6-tablet {
    flex: none;
    width: 50%;
  }
  .columns > .col_7-tablet {
    flex: none;
    width: 58.3333333333%;
  }
  .columns > .col_8-tablet {
    flex: none;
    width: 66.6666666667%;
  }
  .columns > .col_9-tablet {
    flex: none;
    width: 75%;
  }
  .columns > .col_10-tablet {
    flex: none;
    width: 83.3333333333%;
  }
  .columns > .col_11-tablet {
    flex: none;
    width: 91.6666666667%;
  }
  .columns > .col_12-tablet {
    flex: none;
    width: 100%;
  }
  .columns > .col_offset-0-tablet {
    margin-left: 0%;
  }
  .columns > .col_offset-1-tablet {
    margin-left: 8.3333333333%;
  }
  .columns > .col_offset-2-tablet {
    margin-left: 16.6666666667%;
  }
  .columns > .col_offset-3-tablet {
    margin-left: 25%;
  }
  .columns > .col_offset-4-tablet {
    margin-left: 33.3333333333%;
  }
  .columns > .col_offset-5-tablet {
    margin-left: 41.6666666667%;
  }
  .columns > .col_offset-6-tablet {
    margin-left: 50%;
  }
  .columns > .col_offset-7-tablet {
    margin-left: 58.3333333333%;
  }
  .columns > .col_offset-8-tablet {
    margin-left: 66.6666666667%;
  }
  .columns > .col_offset-9-tablet {
    margin-left: 75%;
  }
  .columns > .col_offset-10-tablet {
    margin-left: 83.3333333333%;
  }
  .columns > .col_offset-11-tablet {
    margin-left: 91.6666666667%;
  }
}
@media only screen and (min-width: 994px) {
  .columns > .col_1-desktop {
    flex: none;
    width: 8.3333333333%;
  }
  .columns > .col_2-desktop {
    flex: none;
    width: 16.6666666667%;
  }
  .columns > .col_3-desktop {
    flex: none;
    width: 25%;
  }
  .columns > .col_4-desktop {
    flex: none;
    width: 33.3333333333%;
  }
  .columns > .col_5-desktop {
    flex: none;
    width: 41.6666666667%;
  }
  .columns > .col_6-desktop {
    flex: none;
    width: 50%;
  }
  .columns > .col_7-desktop {
    flex: none;
    width: 58.3333333333%;
  }
  .columns > .col_8-desktop {
    flex: none;
    width: 66.6666666667%;
  }
  .columns > .col_9-desktop {
    flex: none;
    width: 75%;
  }
  .columns > .col_10-desktop {
    flex: none;
    width: 83.3333333333%;
  }
  .columns > .col_11-desktop {
    flex: none;
    width: 91.6666666667%;
  }
  .columns > .col_12-desktop {
    flex: none;
    width: 100%;
  }
  .columns > .col_offset-0-desktop {
    margin-left: 0%;
  }
  .columns > .col_offset-1-desktop {
    margin-left: 8.3333333333%;
  }
  .columns > .col_offset-2-desktop {
    margin-left: 16.6666666667%;
  }
  .columns > .col_offset-3-desktop {
    margin-left: 25%;
  }
  .columns > .col_offset-4-desktop {
    margin-left: 33.3333333333%;
  }
  .columns > .col_offset-5-desktop {
    margin-left: 41.6666666667%;
  }
  .columns > .col_offset-6-desktop {
    margin-left: 50%;
  }
  .columns > .col_offset-7-desktop {
    margin-left: 58.3333333333%;
  }
  .columns > .col_offset-8-desktop {
    margin-left: 66.6666666667%;
  }
  .columns > .col_offset-9-desktop {
    margin-left: 75%;
  }
  .columns > .col_offset-10-desktop {
    margin-left: 83.3333333333%;
  }
  .columns > .col_offset-11-desktop {
    margin-left: 91.6666666667%;
  }
}
@media only screen and (min-width: 1200px) {
  .columns > .col_1-desktop-md {
    flex: none;
    width: 8.3333333333%;
  }
  .columns > .col_2-desktop-md {
    flex: none;
    width: 16.6666666667%;
  }
  .columns > .col_3-desktop-md {
    flex: none;
    width: 25%;
  }
  .columns > .col_4-desktop-md {
    flex: none;
    width: 33.3333333333%;
  }
  .columns > .col_5-desktop-md {
    flex: none;
    width: 41.6666666667%;
  }
  .columns > .col_6-desktop-md {
    flex: none;
    width: 50%;
  }
  .columns > .col_7-desktop-md {
    flex: none;
    width: 58.3333333333%;
  }
  .columns > .col_8-desktop-md {
    flex: none;
    width: 66.6666666667%;
  }
  .columns > .col_9-desktop-md {
    flex: none;
    width: 75%;
  }
  .columns > .col_10-desktop-md {
    flex: none;
    width: 83.3333333333%;
  }
  .columns > .col_11-desktop-md {
    flex: none;
    width: 91.6666666667%;
  }
  .columns > .col_12-desktop-md {
    flex: none;
    width: 100%;
  }
  .columns > .col_offset-0-desktop-md {
    margin-left: 0%;
  }
  .columns > .col_offset-1-desktop-md {
    margin-left: 8.3333333333%;
  }
  .columns > .col_offset-2-desktop-md {
    margin-left: 16.6666666667%;
  }
  .columns > .col_offset-3-desktop-md {
    margin-left: 25%;
  }
  .columns > .col_offset-4-desktop-md {
    margin-left: 33.3333333333%;
  }
  .columns > .col_offset-5-desktop-md {
    margin-left: 41.6666666667%;
  }
  .columns > .col_offset-6-desktop-md {
    margin-left: 50%;
  }
  .columns > .col_offset-7-desktop-md {
    margin-left: 58.3333333333%;
  }
  .columns > .col_offset-8-desktop-md {
    margin-left: 66.6666666667%;
  }
  .columns > .col_offset-9-desktop-md {
    margin-left: 75%;
  }
  .columns > .col_offset-10-desktop-md {
    margin-left: 83.3333333333%;
  }
  .columns > .col_offset-11-desktop-md {
    margin-left: 91.6666666667%;
  }
}
@media only screen and (min-width: 1400px) {
  .columns > .col_1-desktop-lg {
    flex: none;
    width: 8.3333333333%;
  }
  .columns > .col_2-desktop-lg {
    flex: none;
    width: 16.6666666667%;
  }
  .columns > .col_3-desktop-lg {
    flex: none;
    width: 25%;
  }
  .columns > .col_4-desktop-lg {
    flex: none;
    width: 33.3333333333%;
  }
  .columns > .col_5-desktop-lg {
    flex: none;
    width: 41.6666666667%;
  }
  .columns > .col_6-desktop-lg {
    flex: none;
    width: 50%;
  }
  .columns > .col_7-desktop-lg {
    flex: none;
    width: 58.3333333333%;
  }
  .columns > .col_8-desktop-lg {
    flex: none;
    width: 66.6666666667%;
  }
  .columns > .col_9-desktop-lg {
    flex: none;
    width: 75%;
  }
  .columns > .col_10-desktop-lg {
    flex: none;
    width: 83.3333333333%;
  }
  .columns > .col_11-desktop-lg {
    flex: none;
    width: 91.6666666667%;
  }
  .columns > .col_12-desktop-lg {
    flex: none;
    width: 100%;
  }
  .columns > .col_offset-0-desktop-lg {
    margin-left: 0%;
  }
  .columns > .col_offset-1-desktop-lg {
    margin-left: 8.3333333333%;
  }
  .columns > .col_offset-2-desktop-lg {
    margin-left: 16.6666666667%;
  }
  .columns > .col_offset-3-desktop-lg {
    margin-left: 25%;
  }
  .columns > .col_offset-4-desktop-lg {
    margin-left: 33.3333333333%;
  }
  .columns > .col_offset-5-desktop-lg {
    margin-left: 41.6666666667%;
  }
  .columns > .col_offset-6-desktop-lg {
    margin-left: 50%;
  }
  .columns > .col_offset-7-desktop-lg {
    margin-left: 58.3333333333%;
  }
  .columns > .col_offset-8-desktop-lg {
    margin-left: 66.6666666667%;
  }
  .columns > .col_offset-9-desktop-lg {
    margin-left: 75%;
  }
  .columns > .col_offset-10-desktop-lg {
    margin-left: 83.3333333333%;
  }
  .columns > .col_offset-11-desktop-lg {
    margin-left: 91.6666666667%;
  }
}

.fit-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column-flex {
  flex-direction: column;
}

.no-wrap-flex {
  flex-wrap: nowrap;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.off-screen {
  position: absolute;
  top: auto;
  left: -10000rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.btn,
.btn-outline {
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  color: #333;
  cursor: pointer;
  display: inline-flex;
  font-weight: 700;
  height: 42px;
  justify-content: center;
  padding: 0 12px;
  text-decoration: none;
  transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out, color 0.4s ease-in-out;
  width: auto;
}
@media only screen and (min-width: 768px) {
  .btn,
.btn-outline {
    height: 42px;
  }
}
.btn__svg,
.btn-outline__svg {
  width: 24px;
  height: 24px;
  margin-right: 0.35em;
  transition: fill 0.4s ease-in-out;
}
.btn_disabled, .btn:disabled,
.btn-outline_disabled,
.btn-outline:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.btn_disabled,
.btn-outline_disabled {
  pointer-events: none;
}
.btn_is-full-width,
.btn-outline_is-full-width {
  display: flex;
  width: 100%;
}
.btn_shadow,
.btn-outline_shadow {
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
}
.btn_lg,
.btn-outline_lg {
  height: 50px;
  padding: 0 24px;
}
.btn_lg.btn_icon, .btn_lg.btn-outline_icon,
.btn-outline_lg.btn_icon,
.btn-outline_lg.btn-outline_icon {
  width: 44px;
  height: 44px;
}
.btn_lg.btn_icon .btn__svg,
.btn_lg.btn_icon .btn-outline__svg, .btn_lg.btn-outline_icon .btn__svg,
.btn_lg.btn-outline_icon .btn-outline__svg,
.btn-outline_lg.btn_icon .btn__svg,
.btn-outline_lg.btn_icon .btn-outline__svg,
.btn-outline_lg.btn-outline_icon .btn__svg,
.btn-outline_lg.btn-outline_icon .btn-outline__svg {
  width: 40px;
  height: 40px;
}
.btn_sm,
.btn-outline_sm {
  height: 30px;
}
.btn_sm.btn_icon, .btn_sm.btn-outline_icon,
.btn-outline_sm.btn_icon,
.btn-outline_sm.btn-outline_icon {
  width: 24px;
  height: 24px;
}
.btn_sm.btn_icon .btn__svg,
.btn_sm.btn_icon .btn-outline__svg, .btn_sm.btn-outline_icon .btn__svg,
.btn_sm.btn-outline_icon .btn-outline__svg,
.btn-outline_sm.btn_icon .btn__svg,
.btn-outline_sm.btn_icon .btn-outline__svg,
.btn-outline_sm.btn-outline_icon .btn__svg,
.btn-outline_sm.btn-outline_icon .btn-outline__svg {
  width: 20px;
  height: 20px;
}
.btn_icon,
.btn-outline_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
}
.btn_icon .btn__svg,
.btn_icon .btn-outline__svg,
.btn-outline_icon .btn__svg,
.btn-outline_icon .btn-outline__svg {
  width: 24px;
  height: 24px;
  margin-right: 0;
}

.btn {
  background-color: #000;
  color: #2b2b2b;
}
.btn:hover:not(:disabled) {
  background-color: #999;
}
.btn__svg {
  fill: #fff;
}

.btn-outline {
  background-color: #fff;
  border-color: #000;
  color: #2b2b2b;
}
.btn-outline:hover:not(:disabled) {
  border-color: #999;
}
.btn-outline:hover:not(:disabled) .btn-outline__svg {
  fill: #999;
}
.btn-outline__svg {
  fill: #2b2b2b;
}
.btn-outline_transparent {
  background-color: transparent;
}
.btn-outline_no-border {
  border: 0;
}

.link {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-weight: 500;
  padding: 0;
  text-decoration: underline;
  transition: color 0.4 ease-in-out;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
}
.container_xs {
  max-width: 400px;
}
@media only screen and (min-width: 768px) {
  .container_xs {
    max-width: 400px;
  }
}
.container_sm {
  max-width: 600px;
}
@media only screen and (min-width: 768px) {
  .container_sm {
    max-width: 600px;
  }
}

.wrapper-container {
  background-color: #fff;
  box-shadow: 0 0 30px -15px black;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], input:not([type]), select, textarea,
.file-field {
  width: 100%;
  height: 42px;
  background-color: #fff;
  border: 1px solid #979797;
  border-radius: 0;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  transition: border 0.4s ease-in-out;
}

[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], input:not([type]), select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  margin: 0;
  outline: none;
  padding: 0 12px;
}
[type=color]:hover:not([disabled]):not([readonly]), [type=date]:hover:not([disabled]):not([readonly]), [type=datetime]:hover:not([disabled]):not([readonly]), [type=datetime-local]:hover:not([disabled]):not([readonly]), [type=email]:hover:not([disabled]):not([readonly]), [type=month]:hover:not([disabled]):not([readonly]), [type=number]:hover:not([disabled]):not([readonly]), [type=password]:hover:not([disabled]):not([readonly]), [type=search]:hover:not([disabled]):not([readonly]), [type=tel]:hover:not([disabled]):not([readonly]), [type=text]:hover:not([disabled]):not([readonly]), [type=time]:hover:not([disabled]):not([readonly]), [type=url]:hover:not([disabled]):not([readonly]), [type=week]:hover:not([disabled]):not([readonly]), input:not([type]):hover:not([disabled]):not([readonly]), select:hover:not([disabled]):not([readonly]), textarea:hover:not([disabled]):not([readonly]) {
  background-color: #fff;
  border-color: #1a3e39;
}
[type=color]:focus:not([disabled]):not([readonly]), [type=date]:focus:not([disabled]):not([readonly]), [type=datetime]:focus:not([disabled]):not([readonly]), [type=datetime-local]:focus:not([disabled]):not([readonly]), [type=email]:focus:not([disabled]):not([readonly]), [type=month]:focus:not([disabled]):not([readonly]), [type=number]:focus:not([disabled]):not([readonly]), [type=password]:focus:not([disabled]):not([readonly]), [type=search]:focus:not([disabled]):not([readonly]), [type=tel]:focus:not([disabled]):not([readonly]), [type=text]:focus:not([disabled]):not([readonly]), [type=time]:focus:not([disabled]):not([readonly]), [type=url]:focus:not([disabled]):not([readonly]), [type=week]:focus:not([disabled]):not([readonly]), input:not([type]):focus:not([disabled]):not([readonly]), select:focus:not([disabled]):not([readonly]), textarea:focus:not([disabled]):not([readonly]) {
  background-color: #fff;
  border-color: #1a3e39;
}
[type=color][disabled], [type=date][disabled], [type=datetime][disabled], [type=datetime-local][disabled], [type=email][disabled], [type=month][disabled], [type=number][disabled], [type=password][disabled], [type=search][disabled], [type=tel][disabled], [type=text][disabled], [type=time][disabled], [type=url][disabled], [type=week][disabled], input:not([type])[disabled], select[disabled], textarea[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
[type=color][readonly], [type=date][readonly], [type=datetime][readonly], [type=datetime-local][readonly], [type=email][readonly], [type=month][readonly], [type=number][readonly], [type=password][readonly], [type=search][readonly], [type=tel][readonly], [type=text][readonly], [type=time][readonly], [type=url][readonly], [type=week][readonly], input:not([type])[readonly], select[readonly], textarea[readonly] {
  background-color: #fff;
  cursor: not-allowed;
}

textarea {
  height: 120px;
  padding: 12px;
  resize: none;
}

select {
  padding-right: 42px;
}
select[multiple] {
  height: auto;
  padding: 0;
}
select[multiple] option {
  padding: 0.5em;
}
select::-ms-expand {
  display: none;
}

.select {
  position: relative;
}
.select::after {
  position: absolute;
  top: 50%;
  right: 21px;
  width: 10px;
  height: 10px;
  border-color: #979797;
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: "";
  display: block;
  pointer-events: none;
  transform: translateY(-50%) rotate(45deg);
  transform-origin: bottom right;
}
.select_disabled::after, .select_readonly::after {
  opacity: 0.5;
}
.select_is-multiple::after {
  display: none;
}

.field {
  margin-bottom: 1.4rem;
}
@media only screen and (min-width: 768px) {
  .field {
    margin-bottom: 1.5rem;
  }
}
.field__label {
  display: block;
  margin-bottom: 5px;
}
.field__help-text {
  color: #333;
  margin-top: 5px;
}
.field__help-text ul {
  list-style: none;
  padding: 0;
}
.field__help-text ul li {
  margin-bottom: 5px;
}
.field__help-text ul:last-child {
  margin-bottom: 0;
}
.field label.error {
  color: #f00;
  display: block;
  margin-top: 5px;
}
.field .errorlist {
  color: #f00;
  list-style: none;
  padding: 0;
}
.field .errorlist li {
  margin-top: 5px;
}
.field__columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.field__column {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}
.field__column:first-child {
  padding-right: 7.5px;
}
@media only screen and (min-width: 768px) {
  .field__column:first-child {
    padding-right: 7.5px;
  }
}
.field__column:last-child {
  padding-left: 7.5px;
}
@media only screen and (min-width: 768px) {
  .field__column:last-child {
    padding-left: 7.5px;
  }
}
.field__column_sm {
  flex: none;
  width: calc(85px + 7.5px);
}
@media only screen and (min-width: 768px) {
  .field__column_sm {
    width: calc(85px + 7.5px);
  }
}
.field_no-margin {
  margin-bottom: 0;
}
.field__inline-submit {
  position: relative;
}
.field__inline-submit .field__btn,
.field__inline-submit .field__btn-outline {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.check-field,
.radio-field {
  align-items: center;
  display: inline-flex;
  position: relative;
  vertical-align: top;
}
.check-field__input,
.radio-field__input {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  transform: translateY(-50%);
  z-index: -1;
}
.check-field__input:checked + .check-field__icon, .check-field__input:checked + .radio-field__icon,
.radio-field__input:checked + .check-field__icon,
.radio-field__input:checked + .radio-field__icon {
  border-color: #000;
}
.check-field__input:checked + .check-field__icon::after, .check-field__input:checked + .radio-field__icon::after,
.radio-field__input:checked + .check-field__icon::after,
.radio-field__input:checked + .radio-field__icon::after {
  opacity: 1;
}
.check-field__icon,
.radio-field__icon {
  width: 18px;
  height: 18px;
  align-items: center;
  border: 1px solid #000;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin-right: 5px;
}
.check-field__icon::after,
.radio-field__icon::after {
  content: "";
  display: block;
  opacity: 0;
}
.check-field__label,
.radio-field__label {
  flex-grow: 1;
  font-size: 16px;
  line-height: 1em;
}
.check-field_icon-right .check-field__icon,
.check-field_icon-right .radio-field__icon,
.radio-field_icon-right .check-field__icon,
.radio-field_icon-right .radio-field__icon {
  margin-left: 5px;
  margin-right: 0;
  order: 1;
}
.check-field_icon-right .check-field__label,
.check-field_icon-right .radio-field__label,
.radio-field_icon-right .check-field__label,
.radio-field_icon-right .radio-field__label {
  order: 0;
}
.check-field_box,
.radio-field_box {
  background-color: #fff;
  border: 1px solid #979797;
  border-radius: 0;
  display: flex;
  height: 42px;
  padding: 0 12px;
  transition: border 0.4s ease-in-out;
}
.check-field_box.check-field_readonly, .check-field_box.radio-field_readonly,
.radio-field_box.check-field_readonly,
.radio-field_box.radio-field_readonly {
  background-color: #fff;
}
.check-field_disabled,
.radio-field_disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.check-field_readonly,
.radio-field_readonly {
  cursor: not-allowed;
}

.check-field__icon::after {
  width: 10px;
  height: 6px;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  margin-top: -3px;
  transform: rotate(-45deg);
}
.check-field_box:hover:not(.check-field_disabled):not(.check-field_readonly) {
  background-color: #fff;
  border-color: #1a3e39;
}

.radio-field__icon {
  border-radius: 50%;
}
.radio-field__icon::after {
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
}
.radio-field_box:hover:not(.radio-field_disabled):not(.radio-field_readonly) {
  background-color: #fff;
  border-color: #1a3e39;
}

.file-field {
  align-items: center;
  display: flex;
  padding-left: 12px;
  position: relative;
}
.file-field__input {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}
.file-field__label {
  display: block;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.file-field__icon {
  align-items: center;
  background: #979797;
  border-left: 1px solid #979797;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  margin-left: 12px;
  padding: 0 12px;
  transition: border 0.4s ease-in-out;
}
.file-field:hover:not(.file-field_disabled):not(.file-field_readonly) {
  background-color: #fff;
  border-color: #1a3e39;
}
.file-field:hover:not(.file-field_disabled):not(.file-field_readonly) .file-field__icon {
  border-left-color: #1a3e39;
}
.file-field_disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.file-field_readonly {
  background-color: #fff;
  cursor: not-allowed;
}

.icon {
  width: 50px;
  height: 50px;
  align-items: center;
  background-color: #000;
  border-radius: 50%;
  display: inline-flex;
  justify-items: center;
}
.icon__svg {
  width: 35px;
  height: 35px;
  display: block;
  fill: #fff;
  margin: auto;
}
.icon_lg {
  width: 90px;
  height: 90px;
}
.icon_lg .icon__svg {
  width: 50px;
  height: 50px;
}
.icon_sm {
  width: 40px;
  height: 40px;
}
.icon_sm .icon__svg {
  width: 25px;
  height: 25px;
}

.buy__small-text, .footer__text {
  font-size: 0.6944444444rem;
  line-height: 14px;
}

.transform__title, .collection__gallery-text, div.mce_inline_error, .field__label {
  font-size: 0.8333333333rem;
  line-height: 15px;
}

.article h4,
.article h5,
.article h6, body, .btn,
.btn-outline {
  font-size: 1rem;
  line-height: 1.4rem;
}

.article h3 {
  font-size: 1.2rem;
  line-height: 1.68rem;
}

.about__title, .hero__title, .article h1,
.article h2 {
  font-size: 1.44rem;
  line-height: 1.89rem;
}

.messages__title {
  font-size: 1.728rem;
  line-height: 2.31rem;
}

.buy__price, .collection__title {
  font-size: 2.0736rem;
  line-height: 2.8rem;
}

@media only screen and (min-width: 768px) {
  .buy__small-text, .footer__text {
    font-size: 0.6944444444rem;
    line-height: 14px;
  }
}
@media only screen and (min-width: 768px) {
  .ring-item__text, .transform__title, .collection__gallery-text, div.mce_inline_error, .field__label {
    font-size: 0.8333333333rem;
    line-height: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .article h4,
.article h5,
.article h6, body {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .hero__text, .article h3 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
@media only screen and (min-width: 768px) {
  .about__title, .hero__title, .article h1,
.article h2 {
    font-size: 1.44rem;
    line-height: 2.025rem;
  }
}
@media only screen and (min-width: 768px) {
  .messages__title {
    font-size: 1.728rem;
    line-height: 2.4rem;
  }
}
@media only screen and (min-width: 768px) {
  .buy__price, .collection__title {
    font-size: 2.0736rem;
    line-height: 2.775rem;
  }
}
.btn,
.btn-outline {
  font-weight: 400;
}
.btn_max-width-270,
.btn-outline_max-width-270 {
  max-width: 270px;
  width: 100%;
}
.btn_max-width-170,
.btn-outline_max-width-170 {
  max-width: 170px;
  width: 100%;
}

.btn_green {
  background-color: #1a3e39;
  color: #fff;
}
.btn_green:hover:not(:disabled) {
  background-color: #29625a;
}

.btn-outline_green {
  border-color: #1a3e39;
  color: #1a3e39;
}
.btn-outline_green:hover:not(:disabled) {
  background-color: #1a3e39;
  border-color: #1a3e39;
  color: #fff;
}

.link {
  font-weight: 400;
  text-decoration: none;
  transition: color 0.4 ease;
}
.link:hover {
  color: #1a3e39;
}

.field__label {
  margin-bottom: 3px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-size: 87.5%;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
    font-size: 100%;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  min-height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
}

p,
ul,
ol,
pre,
figure {
  margin: 0;
}

a {
  color: inherit;
}

.section-gray {
  background: #fafafa;
  border-bottom: 1px solid #d2d2d2;
  border-top: 1px solid #d2d2d2;
}

.article {
  padding: 4.2rem 0rem;
}
@media only screen and (min-width: 768px) {
  .article {
    padding: 7.5rem 0rem;
  }
}
.article h1,
.article h2 {
  font-weight: 600;
  margin: 4.2rem 0rem 2.8rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .article h1,
.article h2 {
    margin: 4.5rem 0rem 3rem;
  }
}
.article h3 {
  font-weight: 600;
  margin: 2.8rem 0rem 1.4rem;
}
@media only screen and (min-width: 768px) {
  .article h3 {
    margin: 3rem 0rem 1.5rem;
  }
}
.article h4,
.article h5,
.article h6 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}
@media only screen and (min-width: 768px) {
  .article h4,
.article h5,
.article h6 {
    margin-bottom: 0.75rem;
  }
}
.article p,
.article ul,
.article ol {
  margin-bottom: 1.4rem;
}
@media only screen and (min-width: 768px) {
  .article p,
.article ul,
.article ol {
    margin-bottom: 1.5rem;
  }
}
.article a {
  transition: color 0.4s ease;
}
.article a:hover {
  color: #1a3e39;
}
.article > *:first-child {
  margin-top: 0;
}
.article > *:last-child {
  margin-bottom: 0;
}

.messages {
  min-height: 70vh;
  padding: 4.2rem 0rem;
}
@media only screen and (min-width: 768px) {
  .messages {
    min-height: calc(100vh - 235px);
    padding: 7.5rem 0rem;
  }
}
.messages__title {
  font-weight: 600;
  margin-bottom: 1.4rem;
}
@media only screen and (min-width: 768px) {
  .messages__title {
    margin-bottom: 1.5rem;
  }
}
.messages__text {
  margin-bottom: 1.4rem;
}
@media only screen and (min-width: 768px) {
  .messages__text {
    margin-bottom: 1.5rem;
  }
}

.header__container {
  height: 60px;
  padding: 0px 20px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .header__container {
    height: 100px;
    padding: 0px 48px;
  }
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 34px;
  display: block;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 768px) {
  .header__logo {
    width: 135px;
    height: 47px;
  }
}
.header__social {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header__social {
    display: flex;
  }
}
.header__social-btn {
  width: 24px;
  height: 24px;
  display: inline-flex;
  margin-right: 10px;
}
@media only screen and (min-width: 768px) {
  .header__social-btn {
    margin-right: 12px;
  }
}
.header__social-btn:hover .header__social-svg {
  fill: #29625a;
}
.header__social-svg {
  width: 100%;
  height: 100%;
  fill: #1a3e39;
  transition: fill 0.35s ease;
}
.header__btn {
  width: 140px;
  height: 35px;
  border-width: 2px;
  display: none;
}
@media only screen and (min-width: 768px) {
  .header__btn {
    display: flex;
  }
}

.footer {
  background: #fafafa;
  border-top: 1px solid rgba(51, 51, 51, 0.2);
  padding: 2.8rem 0rem;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 3.75rem 0rem;
  }
}
.footer__container {
  padding: 0px 20px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .footer__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 48px;
  }
}
.footer__social {
  margin-bottom: 1.4rem;
}
@media only screen and (min-width: 768px) {
  .footer__social {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-bottom: 0;
    transform: translate(-50%, -50%);
  }
}
.footer__social-btn {
  margin: 0px 10px;
}
@media only screen and (min-width: 768px) {
  .footer__social-btn {
    margin: 0px 12px;
  }
}
.footer__text {
  margin-top: 0.7rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer__text {
    margin-top: 0;
    max-width: 30%;
    text-align: left;
  }
}

.hero {
  align-items: flex-end;
  color: #1a3e39;
}
@media only screen and (min-width: 768px) {
  .hero {
    align-items: center;
    margin: 0px 48px;
  }
  .hero::after {
    clear: both;
    content: "";
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .hero {
    background-color: #f8e7e0;
    padding: 3rem;
  }
}
@media only screen and (min-width: 1400px) {
  .hero {
    padding: 4.5rem;
  }
}
.hero__figure {
  height: calc(100vw * 1.3);
  margin: 0;
  min-height: 416px;
  position: relative;
  width: 100%;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .hero__figure {
    height: calc(100vw * .56);
    min-height: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .hero__figure {
    height: calc(100vw * 1.3);
    max-height: 617px;
    max-width: 452px;
  }
}
.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.hero__header {
  background-color: #fff;
  margin: calc(2.8rem * -1) 15px 0;
  padding: 1.4rem;
  text-align: center;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .hero__header {
    margin: calc(3rem * -1) auto 0;
    padding: 2.25rem;
    width: 83.3333333333%;
  }
}
@media only screen and (min-width: 1200px) {
  .hero__header {
    margin: 0 0 0 calc(3rem * -1);
    padding: 3rem;
    text-align: left;
    width: 54.1666666667%;
  }
}
.hero__title {
  margin-bottom: 1.05rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 1.125rem;
  }
}
.hero__text {
  margin-bottom: 3rem;
}
@media only screen and (min-width: 768px) {
  .hero__text {
    margin-bottom: 3rem;
  }
}

.collection {
  padding-top: 7rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .collection {
    padding-top: 7.5rem;
  }
}
.collection__title {
  color: #1a3e39;
  margin: 0.35rem 0rem 1.4rem;
}
@media only screen and (min-width: 768px) {
  .collection__title {
    margin: 0.375rem 0rem 1.5rem;
  }
}
.collection__gallery {
  margin: 2.8rem auto 0rem;
  overflow: auto;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .collection__gallery {
    margin-top: 3rem;
    max-width: 1440px;
  }
}
.collection__gallery-item {
  flex-shrink: 0;
  position: relative;
  width: 250px;
}
@media only screen and (min-width: 768px) {
  .collection__gallery-item {
    width: 25%;
  }
}
.collection__gallery-text {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}
.collection__gallery-img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery {
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
  padding: 5.6rem 0rem;
}
@media only screen and (min-width: 768px) {
  .gallery {
    padding: 9rem 0rem;
  }
}
.gallery__item {
  display: block;
  overflow: hidden;
  position: relative;
}
.gallery__item:hover::before,
.gallery__item:hover .gallery__icon {
  opacity: 1;
}
.gallery__item:hover .gallery__img {
  transform: scale(1.025);
}
.gallery__item::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  opacity: 0;
  transition: opacity 0.35s ease;
  z-index: 2;
}
.gallery__item_margin-bottom-30 {
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .gallery__item_margin-bottom-30 {
    margin-bottom: 30px;
  }
}
.gallery__item_full-height {
  height: 100%;
}
.gallery__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: block;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.35s ease;
  z-index: 3;
}
.gallery__icon::before, .gallery__icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  content: "";
  display: block;
  transform: translate(-50%, -50%);
}
.gallery__icon::before {
  width: 50%;
  height: 1px;
}
.gallery__icon::after {
  width: 1px;
  height: 50%;
}
.gallery__img {
  width: 100%;
  display: block;
  transition: transform 0.5s ease;
}
.gallery .col:nth-child(3) {
  display: none;
}
@media only screen and (min-width: 768px) {
  .gallery .col:nth-child(3) {
    display: block;
  }
}

.buy {
  padding: 5.6rem 0rem;
}
@media only screen and (min-width: 768px) {
  .buy {
    padding: 7.5rem 0rem;
  }
}
.buy__price {
  margin-bottom: 2.8rem;
}
@media only screen and (min-width: 768px) {
  .buy__price {
    margin-bottom: 3rem;
  }
}
.buy__text {
  margin-bottom: 2.8rem;
}
@media only screen and (min-width: 768px) {
  .buy__text {
    margin-bottom: 3rem;
  }
}
.buy__btn {
  margin-top: 0.7rem;
}
@media only screen and (min-width: 768px) {
  .buy__btn {
    margin-top: 0.75rem;
  }
}

.about {
  padding: 5.6rem 0rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .about {
    padding: 10.5rem 0rem 7.5rem;
    text-align: left;
  }
}
.about__img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  display: block;
}
.about__img-container {
  border: 10px solid #fafafa;
  border-radius: 50%;
  margin: 0rem auto 1.4rem;
  max-width: 290px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .about__img-container {
    margin-bottom: 0;
  }
}
.about__title {
  margin-bottom: 1.4rem;
}
@media only screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 1.5rem;
  }
}

.transform {
  padding: 2.8rem 0rem 5.6rem;
}
@media only screen and (min-width: 768px) {
  .transform {
    padding: 4.5rem 0rem 10.5rem;
  }
}
.transform__title {
  position: absolute;
  top: auto;
  left: auto;
  align-items: flex-end;
  display: flex;
  font-weight: 400;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: 0 0;
}
.transform__title::before {
  width: 60px;
  height: 1px;
  background: #1a3e39;
  content: "";
  display: block;
  flex-shrink: 0;
  margin-right: 10px;
}
@media only screen and (min-width: 768px) {
  .transform__title::before {
    margin-right: 12px;
  }
}
.transform__title-container {
  display: none;
  margin-bottom: 7rem;
  position: -webkit-sticky;
  position: sticky;
  top: 1.4rem;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .transform__title-container {
    display: block;
    margin-bottom: 4.5rem;
    top: 1.5rem;
  }
}
.transform__text {
  margin-bottom: 7rem;
}
@media only screen and (min-width: 768px) {
  .transform__text {
    margin-bottom: 7.5rem;
  }
}
.transform__img {
  position: absolute;
  top: 50%;
  left: 0;
  padding-top: 100%;
  transform: translateY(-50%);
  width: 100%;
}
.transform__img-container {
  display: none;
  margin: 0 auto;
  max-width: 245px;
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  width: 100%;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .transform__img-container {
    display: block;
    margin: 3.75rem 0rem;
  }
}
@media only screen and (min-width: 994px) {
  .transform__img-container {
    max-width: 370px;
  }
}
.transform__img-item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.35s ease, visibility 0.35s ease;
  visibility: hidden;
}
.transform__img-item_active {
  opacity: 1;
  visibility: visible;
}

.ring-item {
  padding: 2.1rem 0rem;
  position: relative;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .ring-item {
    padding: 5.25rem 0rem;
  }
}
.ring-item:first-child {
  padding-top: 0;
}
.ring-item:last-child {
  padding-bottom: 0;
}
.ring-item__img {
  width: 100%;
  height: auto;
  display: block;
}
.ring-item__img-container {
  margin: 0 auto;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .ring-item__img-container {
    display: none;
  }
}
.ring-item__text {
  margin-top: 2.1rem;
}
@media only screen and (min-width: 768px) {
  .ring-item__text {
    margin-top: 0;
  }
}

.dots {
  margin-bottom: 2.8rem;
}
@media only screen and (min-width: 768px) {
  .dots {
    margin-bottom: 3rem;
  }
}
.dots__item {
  width: 8px;
  height: 8px;
  background: #1a3e39;
  border-radius: 50%;
  display: block;
  margin: 0rem auto 0.7rem;
}
@media only screen and (min-width: 768px) {
  .dots__item {
    margin-bottom: 0.75rem;
  }
}
.dots__item:last-child {
  margin-bottom: 0;
}

.featherlight-next,
.featherlight-previous {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid #fff;
  border-radius: 50%;
  bottom: auto;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.35s ease;
}
@media only screen and (min-width: 768px) {
  .featherlight-next,
.featherlight-previous {
    width: 40px;
    height: 40px;
  }
}
.featherlight-next:hover,
.featherlight-previous:hover {
  background: rgba(0, 0, 0, 0.75);
}
.featherlight-next:hover span,
.featherlight-previous:hover span {
  display: none;
}
.featherlight-next::before,
.featherlight-previous::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  content: "";
}
@media only screen and (min-width: 768px) {
  .featherlight-next::before,
.featherlight-previous::before {
    width: 12px;
    height: 12px;
  }
}
.featherlight-next span,
.featherlight-previous span {
  display: none;
}

.featherlight-next {
  left: auto;
  right: 20px;
}
@media only screen and (min-width: 768px) {
  .featherlight-next {
    right: 40px;
  }
}
.featherlight-next::before {
  transform: translate(-70%, -50%) rotate(135deg);
}

.featherlight-previous {
  left: 20px;
  right: auto;
}
@media only screen and (min-width: 768px) {
  .featherlight-previous {
    left: 40px;
  }
}
.featherlight-previous::before {
  transform: translate(-30%, -50%) rotate(-45deg);
}

/*# sourceMappingURL=style.css.map */
