*,
*::before,
*::after
  box-sizing: border-box

html
  font-size: #{$base + 'px'}
  font-size: #{$base-font-size + '%'} // sass-lint:disable-line no-duplicate-properties
  height: 100%

  @include breakpoint($tablet)
    font-size: #{$base-tablet + 'px'}
    font-size: #{$base-font-size-tablet + '%'} // sass-lint:disable-line no-duplicate-properties

body
  @extend %f-mobile-p-0
  @include font-smooth
  color: $gray-primary
  font-family: $font
  font-weight: 400
  min-height: 100%
  min-width: 320px
  overflow-x: hidden
  position: relative

  @include breakpoint($tablet)
    // sass-lint:disable-block space-around-operator
    @extend %f-tablet-p-0


// ----------------------
// HEADINGS AND PARAGRAPH
// ----------------------
h1,
h2,
h3,
h4,
h5,
h6
  font-weight: 700
  margin: 0

p,
ul,
ol,
pre,
figure
  margin: 0

a
  color: inherit

.section-gray
  background: $gray-tertiary
  border-bottom: 1px solid $gray-quaternary
  border-top: 1px solid $gray-quaternary


// ------------
// Article
// ------------
.article
  padding: dms-rem(3 0)

  @include breakpoint($tablet)
    padding: dms-rem(5 0, $tablet)

  h1,
  h2
    @extend %f-mobile-p-2
    font-weight: 600
    margin: dms-rem(3 0 2)
    text-align: center

    @include breakpoint($tablet)
      @extend %f-tablet-p-2
      margin: dms-rem(3 0 2, $tablet)

  h3
    @extend %f-mobile-p-1
    font-weight: 600
    margin: dms-rem(2 0 1)

    @include breakpoint($tablet)
      @extend %f-tablet-p-1
      margin: dms-rem(2 0 1, $tablet)

  h4,
  h5,
  h6
    @extend %f-mobile-p-0
    font-weight: 600
    margin-bottom: dms-rem(.5)

    @include breakpoint($tablet)
      @extend %f-tablet-p-0
      margin-bottom: dms-rem(.5, $tablet)

  p,
  ul,
  ol
    margin-bottom: dms-rem(1)

    @include breakpoint($tablet)
      margin-bottom: dms-rem(1, $tablet)

  a
    transition: color .4s $ease-in-out

    &:hover
      color: $green-primary

  > *:first-child
    margin-top: 0

  > *:last-child
    margin-bottom: 0


// ------------
// Messages
// ------------
.messages
  min-height: 70vh
  padding: dms-rem(3 0)

  @include breakpoint($tablet)
    min-height: calc(100vh - 235px)
    padding: dms-rem(5 0, $tablet)

  &__title
    @extend %f-mobile-p-3
    font-weight: 600
    margin-bottom: dms-rem(1)

    @include breakpoint($tablet)
      @extend %f-tablet-p-3
      margin-bottom: dms-rem(1, $tablet)

  &__text
    margin-bottom: dms-rem(1)

    @include breakpoint($tablet)
      margin-bottom: dms-rem(1, $tablet)
